{arch}
.arch-ids
.arch-inventory
.gitcommit.txt
autom4te.cache
*~
Makefile.in
aclocal.m4
config.h.in
configure
depcomp
install-sh
missing
mkinstalldirs
cscope.out
._*
config.guess
config.sub
config.cache
stamp-h.in
stamp-h
ylwrap
.*.swp
*.pyc
ltmain.sh
.project
.cproject
.settings
Debug
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/pkg.m4
/m4/ax*.m4
/compile
/test-driver
.deps
/lib/cfg-grammar.h
.dirstamp
/libtest/syslog-ng-test.pc
Makefile
/_configs.sed
/config.h
/config.log
/config.status
/doc/man/loggen.1
/doc/man/pdbtool.1
/doc/man/syslog-ng-ctl.1
/doc/man/syslog-ng.8
/doc/man/syslog-ng.conf.5
/libtool
/dist.conf
/stamp-h1
/syslog-ng-config.h
/syslog-ng-native-connector.pc
/syslog-ng.pc
/syslog-ng.spec
/scripts/update-patterndb
/modules/syslogformat/syslog-parser-grammar.y
/modules/python/pylib/install-manifest.txt
